/* RESET */

*{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:0;
}

html,body{
	width:100%;
	height:100%;
	background-color:#000000;
	overflow-x:hidden;
}

div,span{
	position:relative;
	display:inline-block;
	background-color:rgba(255,0,0,0.25);
}

img,video{
	max-width:100%;
	height:auto;
}

a{
	text-decoration:none;
}

/* FONTFACE */

@font-face{
	font-family:'ChunkFive';
	font-style:normal;
	font-weight:normal;
	src:	url('../EOT/ChunkFive-Roman.eot?') format('eot'),
			url('../TTF/ChunkFive-Roman.ttf') format('truetype');
}

@font-face{
	font-family:'Montserrat-Light';
	font-style:normal;
	font-weight:300;
	src:	url('../EOT/Montserrat-Light.eot?') format('eot'),
			url('../TTF/Montserrat-Light.ttf') format('truetype');
}

@font-face{
	font-family:'Montserrat-Thin';
	font-style:normal;
	font-weight:100;
	src:	url('../EOT/Montserrat-Thin.eot?') format('eot'),
			url('../TTF/Montserrat-Thin.ttf') format('truetype');
}

.format{
	font-family:'Montserrat-Light';
	font-size:32px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	color:rgba(255,255,255,1.00);
	direction:ltr;
	letter-spacing:0.64px;
	line-height:32px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-shadow:0px 0px 0px rgba(0,0,0,0);
	text-transform:none;
	vertical-align:0%;
	white-space:nowrap;
	word-spacing:0px;
}

.f20{
	font-size:12px;
	letter-spacing:0.24px;
	color:rgba(255,255,255,1.00);
}
.f18{
	font-size:10px;
	letter-spacing:0.20px;
	color:rgba(255,255,255,0.75);
}
.f16{
	font-size:8px;
	letter-spacing:0.16px;
	color:rgba(255,255,255,0.50);
}
.f14{
	font-size:6px;
	letter-spacing:0.12px;
	color:rgba(255,255,255,0.25);
}
.f12{
	font-size:4px;
	letter-spacing:0.08px;
	color:rgba(255,255,255,1.00);
}

.uppercased{
	text-transform:uppercase;
}

.slashed:after{
	content:'/';
	margin:0px 8px;
}

.dashed:after{
	content:'-';
	margin:0px 8px;
}

.hide{
	display:none;
}

/* CLASS */

.overlay{
	width:100%;
	height:100%;
	position:fixed;
	z-index:9999;
	display:none;
}

.iframe{
	width:100%;
	height:100%;
	position:fixed;
}

.button{
	width:64px;
	height:64px;
	position:fixed;
	top:0px;
	right:0px;
	opacity:0.75;
}

.button:hover{
	opacity:1.00;
	cursor:pointer;
}

.header{
	width:100%;
	height:64px;
	background-color:rgba(0,0,0,0.75);
	position:fixed;
	top:0px;
	z-index:999;
}

.footer{
	width:100%;
	height:32px;
	background-color:rgba(0,0,0,0.75);
	position:fixed;
	bottom:0px;
	z-index:999;
}

.background{
	width:100%;
	height:100%;
	position:fixed;
	background-image:url('../IMG/background.jpg');
	background-attachment:fixed;
	background-color:#005677;
	background-position:center center;
	background-repeat:no-repeat;
	
	/* name duration timing_function delay iteration_count direction fill_mode play_state */
	animation:fadein 2s ease-in;
	-o-animation:fadein 2s ease-in;
	-ms-animation:fadein 2s ease-in;
	-moz-animation:fadein 2s ease-in;
	-webkit-animation:fadein 2s ease-in;
}

.container{
	width:100%;
	height:auto;
	text-align:center;
}

.content{
	width:320px;
	height:auto;
	overflow:hidden;
}

.thumbnails{
	padding-top:64px;
	padding-bottom:32px;
	
	animation:fadein 1s ease-in;
	-o-animation:fadein 1s ease-in;
	-ms-animation:fadein 1s ease-in;
	-moz-animation:fadein 1s ease-in;
	-webkit-animation:fadein 1s ease-in;
}

/* KEYFRAMES */

@keyframes fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity:1
	}
}

@-o-keyframes fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity:1
	}
}

@-ms-keyframes fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity:1
	}
}

@-moz-keyframes fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity:1
	}
}

@-webkit-keyframes fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity:1
	}
}

/* IFRAME */

.table{
	display:table;
}

.tr{
	display:table-row;
}

.td{
	display:table-cell;
}

/* MEDIA */

@media all and (min-width:640px){
	.header{height:80px;}
	.footer{height:40px;}
	.content{width:640px;}
	.padded{
		padding-top:80px;
		padding-bottom:40px;
	}
	.button{
		width:56px;
		height:56px;
	}
}

@media all and (min-width:960px){
	.header{height:96px;}
	.footer{height:48px;}
	.content{width:960px;}
	.padded{
		padding-top:96px;
		padding-bottom:48px;
	}
	.button{
		width:48px;
		height:48px;
	}
}

@media all and (min-width:1280px){
	.header{height:112px;}
	.footer{height:56px;}
	.content{width:1280px;}
	.padded{
		padding-top:112px;
		padding-bottom:56px;
	}
	.button{
		width:40px;
		height:40px;
	}
}

@media all and (min-width:1600px){
	.header{height:128px;}
	.footer{height:64px;}
	.content{width:1600px;}
	.padded{
		padding-top:128px;
		padding-bottom:64px;
	}
	.button{
		width:32px;
		height:32px;
	}
}