/* RESET */

*{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:0;
}

html,body{
	width:100%;
	height:100%;
	background-color:#000000;
	overflow-x:initial;
}

div,span{
	position:relative;
	display:inline-block;
	/* background-color:rgba(255,0,0,0.25); */
}

img,video{
	max-width:100%;
	height:auto;
}

a{
	color:#808080;
	text-decoration:none;
}

a:active{
	color:#FFFFFF;
}

/* FONTFACE */

@font-face{
	font-family:'ChunkFive';
	font-style:normal;
	font-weight:normal;
	src:	url('../EOT/ChunkFive-Roman.eot?') format('eot'),
			url('../TTF/ChunkFive-Roman.ttf') format('truetype');
}

@font-face{
	font-family:'Montserrat-Light';
	font-style:normal;
	font-weight:300;
	src:	url('../EOT/Montserrat-Light.eot?') format('eot'),
			url('../TTF/Montserrat-Light.ttf') format('truetype');
}

@font-face{
	font-family:'Montserrat-Thin';
	font-style:normal;
	font-weight:100;
	src:	url('../EOT/Montserrat-Thin.eot?') format('eot'),
			url('../TTF/Montserrat-Thin.ttf') format('truetype');
}

.format{
	font-family:'Montserrat-Thin';
	font-size:32px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	color:rgba(255,255,255,1.00);
	direction:ltr;
	letter-spacing:0.64px;
	line-height:32px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-shadow:0px 0px 0px rgba(0,0,0,0);
	text-transform:none;
	vertical-align:0%;
	white-space:nowrap;
	word-spacing:0px;
	-webkit-font-smoothing:subpixel-antialiased;
}

.f20{
	font-size:12px;
	letter-spacing:0.24px;
	color:rgba(255,255,255,1.00);
}
.f18{
	font-size:10px;
	letter-spacing:0.20px;
	color:rgba(255,255,255,0.75);
}
.f16{
	font-size:8px;
	letter-spacing:0.16px;
	color:rgba(255,255,255,0.50);
}
.f14{
	font-size:6px;
	letter-spacing:0.12px;
	color:rgba(255,255,255,0.25);
}
.f12{
	font-size:4px;
	letter-spacing:0.08px;
	color:rgba(255,255,255,1.00);
	line-height:16px;
	white-space:normal;
}

.padding{
	padding:0px 10px;
}

.bottomed{
	position:absolute;
	bottom:10px;
}

.glowicki{
	font-family:'Montserrat-Thin';
	color:rgba(255,255,255,0.25);
	font-size:24px;
}

.sections{
	font-family:'Montserrat-Light';
	color:rgba(255,255,255,1.00);
	font-size:12px;
}

.resume{
	position:absolute;
	right:10px;
	bottom:10px;
}

/*
.resume:hover:before{
	content:'\0021e9';
	position:absolute;
	top:0px;
	left:-20px;
	bottom:10px;
}
*/

/* AUTOPLAY */
.autoplay{
	position:absolute;
	top:10px;
	right:10px;
	opacity:0.5;
}

.topped{
	width:100%;
	position:absolute;
	top:10px;
}

.triptych{
	width:33%;
	text-align:center;
}

.contacts{
	font-family:'Montserrat-Light';
	color:rgba(255,255,255,0.75);
	font-size:10px;
}

.design{
	display:block;
	font-family:'ChunkFive';
	color:#FFFFFF;
	font-size:16px;
	letter-spacing:0.1em;
	text-shadow:1px 2px 3px rgba(0,0,0,0.25);
	text-transform:uppercase;
	margin:16px 0px;
	text-align:center;
}

.order{
	display:block;
	font-family:'ChunkFive';
	color:rgba(255,255,255,0.50);
	font-size:14px;
	letter-spacing:0.2em;
	margin:8px 0px;
	text-align:center;
}

.padded{
	padding-top:64px;
	padding-bottom:32px;
}

.uppercased{
	text-transform:uppercase;
}

.slashed:after{
	content:'/';
	margin:0px 8px;
}

.dashed:after{
	content:'-';
	margin:0px 8px;
}

.hide{
	display:none;
}

/* CLASS */

.overlay{
	width:100%;
	height:100%;
	position:fixed;
	left:0px;
	top:0px;
	overflow:visible;
	z-index:9999;
	display:none;
}

.iframe{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
}

.close{
	width:64px;
	height:64px;
	position:absolute;
	top:0px;
	right:0px;
	opacity:0.75;
}

.close:hover{
	opacity:1.00;
	cursor:pointer;
}

.header{
	width:100%;
	height:64px;
	background-color:rgba(0,0,0,0.75);
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
}

.footer{
	width:100%;
	height:32px;
	background-color:rgba(0,0,0,0.75);
	position:fixed;
	bottom:0px;
	left:0px;
	z-index:999;
}

.background{
	width:100%;
	height:100%;
	position:fixed;
	right:0px;
	top:0px;
	background-image:url('../IMG/background.jpg');
	background-attachment:fixed;
	background-color:#005677;
	background-position:center center;
	background-repeat:no-repeat;
}

.blackground{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	background-color:#000000;
	opacity:1;
}

.container{
	width:100%;
	height:auto;
	text-align:center;
}

.content{
	width:320px;
	height:auto;
	overflow:hidden;
}

.thumbnails{
	padding-top:64px;
	padding-bottom:32px;
}

/* KEYFRAMES */

.fadein{
	/* name duration timing_function delay iteration_count direction fill_mode play_state */
	animation:fadein 1s ease-in;
	-o-animation:fadein 1s ease-in;
	-ms-animation:fadein 1s ease-in;
	-moz-animation:fadein 1s ease-in;
	-webkit-animation:fadein 1s ease-in;
}

@keyframes fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

@-o-keyframes fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

@-ms-keyframes fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

@-moz-keyframes fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

@-webkit-keyframes fadein{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

.fadeout{
	/* name duration timing_function delay iteration_count direction fill_mode play_state */
	animation:fadeout 2s ease-in 0s 1 forwards;
	-o-animation:fadeout 2s ease-in 0s 1 forwards;
	-ms-animation:fadeout 2s ease-in 0s 1 forwards;
	-moz-animation:fadeout 2s ease-in 0s 1 forwards;
	-webkit-animation:fadeout 2s ease-in 0s 1 forwards;
}

@keyframes fadeout{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}

@-o-keyframes fadeout{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}

@-ms-keyframes fadeout{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}

@-moz-keyframes fadeout{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}

@-webkit-keyframes fadeout{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}

/* THUMBNAILS */

.thumbnail{
	width:320px;
	height:180px;
	background-color:#000000;
	outline:1px solid #808080;
	overflow:hidden;
	
	box-shadow:0px 0px 32px 0px rgba(0,0,0,0.75);
	-o-box-shadow:0px 0px 32px 0px rgba(0,0,0,0.75);
	-ms-box-shadow:0px 0px 32px 0px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 0px 32px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow:0px 0px 32px 0px rgba(0,0,0,0.75);
	
	transform:scale(0.8,0.8);
	-o-transform:scale(0.8,0.8);
	-ms-transform:scale(0.8,0.8);
	-moz-transform:scale(0.8,0.8);
	-webkit-transform:scale(0.8,0.8);
	
	/* property duration timing_function delay */
	transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-webkit-transition:all 0.25s;
}

.thumbnail:hover,.thumbnail:focus,.thumbnail:active{
	transform:scale(1.0,1.0);
	-o-transform:scale(1.0,1.0);
	-ms-transform:scale(1.0,1.0);
	-moz-transform:scale(1.0,1.0);
	-webkit-transform:scale(1.0,1.0);
	cursor:pointer;
}

.image{
	width:320px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	
	transition:left 0.25s ease-in-out;
	-o-transition:left 0.25s ease-in-out;
	-ms-transition:left 0.25s ease-in-out;
	-moz-transition:left 0.25s ease-in-out;
	-webkit-transition:left 0.25s ease-in-out;
}

.thumbnail:hover .image,.thumbnail:focus .image,.thumbnail:active .image{
	left:-160px;
}

.horizontal{
	width:220px;
	height:360px;
	left:320px;
	top:0px;
	position:absolute;
	background-color:#005876;
	
	transition:left 0.25s ease-in-out;
	-o-transition:left 0.25s ease-in-out;
	-ms-transition:left 0.25s ease-in-out;
	-moz-transition:left 0.25s ease-in-out;
	-webkit-transition:left 0.25s ease-in-out;
}

.thumbnail:hover .horizontal,.thumbnail:focus .horizontal,.thumbnail:active .horizontal{
	left:100px;
}

.vertical{
	width:220px;
	height:180px;
	left:0px;
	top:180px;
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	
	transition:top 0.25s ease-in-out;
	-o-transition:top 0.25s ease-in-out;
	-ms-transition:top 0.25s ease-in-out;
	-moz-transition:top 0.25s ease-in-out;
	-webkit-transition:top 0.25s ease-in-out;
}

.thumbnail:hover .vertical,.thumbnail:focus .vertical,.thumbnail:active .vertical{
	top:24px;
}

.kind{
	width:220px;
	height:24px;
	left:15px;
	top:-24px;
	position:absolute;
	overflow:hidden;
	font-family:'ChunkFive';
	font-size:32px;
	line-height:32px;
	letter-spacing:1px;
	color:rgba(0,0,0,0.50);
	text-align:left;
	text-transform:small-caps;
}

.name{
	width:220px;
	height:15px;
	left:15px;
	top:15px;
	position:absolute;
	font-family:'Montserrat-Light';
	font-size:15px;
	line-height:15px;
	letter-spacing:1px;
	color:rgba(255,255,255,1.00);
	text-align:left;
}

.type{
	width:220px;
	height:15px;
	left:15px;
	top:42px;
	position:absolute;
	font-family:'Montserrat-Light';
	font-size:12px;
	line-height:12px;
	letter-spacing:1px;
	color:rgba(191,191,191,0.75);
	text-align:left;
}

.misc{
	width:220px;
	height:15px;
	left:15px;
	top:62px;
	position:absolute;
	font-family:'Montserrat-Light';
	font-size:10px;
	line-height:10px;
	letter-spacing:1px;
	color:rgba(191,191,191,0.50);
	text-align:left;
}

/* IFRAME */

.table{
	display:table;
}

.tr{
	display:table-row;
}

.td{
	display:table-cell;
}

.left{
}

.middle{
	padding:0px 4px;
}

.right{
	padding-right:64px;
}

.line{
	width:1px;
	height:88px;
	position:absolute;
	top:4px;
	background-color:#FFFFFF;
}

.icon{
	display:inline-block;
	width:16px;
	height:16px;
}

.label{
	display:none;
}

.buttons{
	width:100%;
	height:32px;
}

.button{
	height:32px;
	position:absolute;
	top:-32px;
	right:0px;
	z-index:9999;
	padding-right:64px;
}

.open{
	height:32px;
	font-family:'Montserrat-Light';
	font-size:12px;
	letter-spacing:0.24px;
	color:#BFBFBF;
	background-color:#BF0000;
	border:1px solid #800000;
	
	border-radius:8px;
	-o-border-radius:8px;
	-ms-border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

.open:hover{
	cursor:pointer;
	color:#FFFFFF;
	background-color:#FF0000;
	border:1px solid #BF0000;
}

.pages{
}

.page{
	width:32px;
	height:32px;
	opacity:0.75;
}
.page:hover{
	cursor:pointer;
	opacity:1.0;
}

.previews{
	width:100%;
	height:1200px;
	text-align:center;
}

.preview{
	position:relative;
	display:none;
}

.video{
	position:relative;
	background-color:#000000;
	display:none;
}

.videoplayer{
	display:inline-block;
	
	transform-origin:0px 0px;
	-o-transform-origin:0px 0px;
	-ms-transform-origin:0px 0px;
	-moz-transform-origin:0px 0px;
	-webkit-transform-origin:0px 0px;
	
	transform:scale(0.2,0.2);
	-o-transform:scale(0.2,0.2);
	-ms-transform:scale(0.2,0.2);
	-moz-transform:scale(0.2,0.2);
	-webkit-transform:scale(0.2,0.2);
}

.unit, #videoplayer{
	text-align:left;
}

@media all and (max-width:960px){
	.middle{
		display:none;
	}
	.right{
		display:none;
	}
}

/* MEDIA */

@media all and (min-width:640px){
	.header{height:80px;}
	.footer{height:40px;}
	.content{width:640px;}
	.padded{
		padding-top:80px;
		padding-bottom:40px;
	}
	.close{
		width:56px;
		height:56px;
	}
	.padding{padding:0px 4px;}
	.glowicki{font-size:32px;}
	.sections{font-size:14px;}
	.contacts{font-size:11px;}
	.design{font-size:18px;}
	.order{font-size:16px;}
	.f20{
		font-size:14px;
		letter-spacing:0.28px;
	}
	.f18{
		font-size:12px;
		letter-spacing:0.24px;
	}
	.f16{
		font-size:10px;
		letter-spacing:0.20px;
	}
	.f14{
		font-size:8px;
		letter-spacing:0.18px;
	}
	.f12{
		font-size:6px;
		letter-spacing:0.12px;
	}
	.label{
		display:table-cell;
	}
	.videoplayer{
		transform:scale(0.4,0.4);
		-o-transform:scale(0.4,0.4);
		-ms-transform:scale(0.4,0.4);
		-moz-transform:scale(0.4,0.4);
		-webkit-transform:scale(0.4,0.4);
	}
}

@media all and (min-width:960px){
	.header{height:96px;}
	.footer{height:48px;}
	.content{width:960px;}
	.padded{
		padding-top:96px;
		padding-bottom:48px;
	}
	.close{
		width:48px;
		height:48px;
	}
	.padding{padding:0px 6px;}
	.glowicki{font-size:40px;}
	.sections{font-size:16px;}
	.contacts{font-size:12px;}
	.design{font-size:20px;}
	.order{font-size:18px;}
	.f20{
		font-size:16px;
		letter-spacing:0.32px;
	}
	.f18{
		font-size:14px;
		letter-spacing:0.28px;
	}
	.f16{
		font-size:12px;
		letter-spacing:0.24px;
	}
	.f14{
		font-size:10px;
		letter-spacing:0.20px;
	}
	.f12{
		font-size:8px;
		letter-spacing:0.16px;
	}
	.videoplayer{
		transform:scale(0.6,0.6);
		-o-transform:scale(0.6,0.6);
		-ms-transform:scale(0.6,0.6);
		-moz-transform:scale(0.6,0.6);
		-webkit-transform:scale(0.6,0.6);
	}
}

@media all and (min-width:1280px){
	.header{height:112px;}
	.footer{height:56px;}
	.content{width:1280px;}
	.padded{
		padding-top:112px;
		padding-bottom:56px;
	}
	.close{
		width:40px;
		height:40px;
	}
	.padding{padding:0px 8px;}
	.glowicki{font-size:48px;}
	.sections{font-size:18px;}
	.contacts{font-size:13px;}
	.design{font-size:22px;}
	.order{font-size:20px;}
	.f20{
		font-size:18px;
		letter-spacing:0.36px;
	}
	.f18{
		font-size:16px;
		letter-spacing:0.32px;
	}
	.f16{
		font-size:14px;
		letter-spacing:0.28px;
	}
	.f14{
		font-size:12px;
		letter-spacing:0.24px;
	}
	.f12{
		font-size:10px;
		letter-spacing:0.20px;
	}
	.videoplayer{
		transform:scale(0.8,0.8);
		-o-transform:scale(0.8,0.8);
		-ms-transform:scale(0.8,0.8);
		-moz-transform:scale(0.8,0.8);
		-webkit-transform:scale(0.8,0.8);
	}
}

@media all and (min-width:1600px){
	.header{height:128px;}
	.footer{height:64px;}
	.content{width:1600px;}
	.padded{
		padding-top:128px;
		padding-bottom:64px;
	}
	.close{
		width:32px;
		height:32px;
	}
	.padding{padding:0px 10px;}
	.glowicki{font-size:56px;}
	.sections{font-size:20px;}
	.contacts{font-size:14px;}
	.design{font-size:24px;}
	.order{font-size:22px;}
	.f20{
		font-size:20px;
		letter-spacing:0.40px;
	}
	.f18{
		font-size:18px;
		letter-spacing:0.36px;
	}
	.f16{
		font-size:16px;
		letter-spacing:0.32px;
	}
	.f14{
		font-size:14px;
		letter-spacing:0.28px;
	}
	.f12{
		font-size:12px;
		letter-spacing:0.24px;
	}
	.videoplayer{
		transform:scale(1.0,1.0);
		-o-transform:scale(1.0,1.0);
		-ms-transform:scale(1.0,1.0);
		-moz-transform:scale(1.0,1.0);
		-webkit-transform:scale(1.0,1.0);
	}
}